block vars
doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet" type="text/css" href="../dist/smarter-menu-bar.css")
		link(rel="stylesheet" type="text/css" href="style.css")

		title
			block title
		meta(name='description' content=description)

		
	body(class=bodyClass)

		block content

		script(src="../dist/smarter-menu-bar.js")
		script(src="script.js")



