// Settings
$medium: 'm' !default;
$divider: '-' !default;

// Warning: These default classes are referenced in navigation.js as well
$navigation: 'nav' !default;
$navigation-horizontal: 'hor' !default;
$navigation-vertical: 'ver' !default;
$navigation-accordion: 'acc' !default;
$navigation-dropdown: 'drop' !default;
$navigation-open: 'open' !default;
$navigation-animation: 'expand' !default;
$navigation-link-padding: 20px !default;
$navigation-list-padding: 20px !default;