// Base styles
.#{$navigation}{
	max-height: 100vh;
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li{
		z-index: 2;
		position: relative;
	}
	a{
		display: inline-block;
		white-space: nowrap;
		height: 100%;
		padding: $navigation-link-padding;
		text-decoration: none;
		//min-width: 135px;
	}
}



// Horizontal
@mixin navigation-horizontal-styles(){
	//height: auto !important; // To override JS
	> ul{
		height: auto;
		overflow: visible;
		max-height: none;
		position: static;
		width: auto;
		a{
			width: auto;
		}
		// First layer dropdown
		ul{
			width: auto;
			max-height: none;
			overflow: visible;
			display: none;
			transition: none;
			left: 0;
			top: auto;
			text-align: left;
			position: absolute;
			overflow: visible;
			li{
				width: 100%;
			}
			// Second+ layer dropdown
			.#{$navigation-open} > ul{
				top: 0;
				left: 100%;
			}
		}
		> li{
			> a{
				text-align: center;
			}
		}
		li{
			position: relative;
			display: inline-block;
		}
		li:hover > ul{
			display: block;
		}
		ul:before{
			display: none;
		}
		.#{$navigation-open} > ul{
			// Already set
			display: block;
		}
	}
}
.#{$navigation-horizontal}{
	@include navigation-horizontal-styles();
}









// Vertical
@mixin navigation-vertical-styles(){
	> ul{
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 100vh;
		position: static;
		a{
			width: 100%;
		}
		// First layer dropdown
		ul{
			width: 100%;
			max-height: 100vh;
			overflow: auto;
			transition: left .3s;
			left: 100%;
			top: 0;
			text-align: left;
			position: absolute;
			overflow: visible;
			li{
				width: 100%;
			}
		}
		> li{
			> a{
				text-align: left;
			}
		}
		li{
			position: static;
			display: block;
		}
		/*
		// Already set
		li:hover > ul{
			display: block;
		}
		*/
		ul:before{
			content: 'Back';
			display: block;
			text-align: left;
			cursor: pointer;
			padding: $navigation-list-padding;
		}
		// Animates open menu to the left
		.#{$navigation-open} > ul{
			left: 0%;
			// Already set
			// display: block;
		}
	}
}
.#{$navigation-vertical}{
	@include navigation-vertical-styles();
}





// Accordion
@mixin navigation-accordion-styles(){
	//height: auto !important; // To override JS
	> ul{
		a{
			width: 100%;
			text-align: left;
		}
		li{
			position: static;
			display: list-item;
		}
		// First layer dropdown
		ul{
			height: 0;
			overflow: hidden;
			position: static;
			transition: none;
		}
		ul:before{
			display: none;
		}
	}
	ul{
		list-style: none;
	}
	.#{$navigation-open} > ul{
		height: auto;
	}
}
.#{$navigation-accordion}{
	@include navigation-accordion-styles();
}







// Media Queries
@media #{$medium-up}{
	.#{$medium}#{$divider}#{$navigation-horizontal}{
		@include navigation-horizontal-styles();
	}
	.#{$medium}#{$divider}#{$navigation-vertical}{
		@include navigation-vertical-styles();
	}
	.#{$medium}#{$divider}#{$navigation-accordion}{
		@include navigation-accordion-styles();
	}
}
@media #{$large-up}{
	.#{$large}#{$divider}#{$navigation-horizontal}{
		@include navigation-horizontal-styles();
	}
	.#{$large}#{$divider}#{$navigation-vertical}{
		@include navigation-vertical-styles();
	}
	.#{$large}#{$divider}#{$navigation-accordion}{
		@include navigation-accordion-styles();
	}
}

